alembic

asyncpg
psycopg2
redis

fastapi
uvicorn[standard]
pydantic[email]
pydantic-settings
sqlalchemy

passlib[argon2]
python-jose[cryptography]

greenlet
httpx
python-multipart
python-dotenv

pytest
pytest-cov
pytest_asyncio